@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	height: 100vh
}

h2 {
	margin-bottom: 20px;
}

.payment-container {
	padding: 10px;
	display: flex;
	border: 2px solid #2589d0;
	margin-bottom: 5px;
	flex-direction: column;
	border-radius: 3px;
}

.payment-option {
	margin: 10px 0;
}

button {
	margin-top: 20px;
}