<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>logine</title>
	<link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
	<div class="login-container">
		<div class="login-box">
			<form class="login-form" method="POST" action="/login">
				<h2>ほんや</h2>
				<label for="email">Email:</label>
				<input type="text" id="email" name="email"><br>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password"><br>
				<button type="submit" class="login-button">Login</button>
				<a href="/bookSearch/regist">ゲストでログイン</a>
			</form>
		</div>
	</div>
</body>

</html>